.menu-rota{
    height: 100vh;
    width: 18%;
    border-right: 1px solid #E8E7E7;
    background-color: #FBFBFB;
    padding: 16px 10px 32px 10px;
    position: fixed;
    left: 0px;
    top: 0px;
}

.user-profile{
    border-top: 2px solid #E8E7E7;
    display: flex;
    justify-content:space-around;
    align-items: center;
    gap: 15px;
    width: 100%;
    padding-top: 20px;
}
.chevron-sair{
    position: relative;
}
.logout-app{ 
    padding: 16px;
    align-items: center;
    gap: 10px;
    border-radius: var(--Small, 8px);
    border: 1px solid var(--White-Base-03, #F0F0F0);
    background: var(--White-Base-05, #FFF);
    color: var(--Black-Cinza-04, #747474);
    font-family: "Montserrat";
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    position: absolute;
    width: 130px;
    top: -70px;
    right: 0;
    }
.user-info{
    height: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
} 

.nome-user p{
    color: #747474;
    font-family:"Montserrat", sans-serif;
    font-weight: 400;
    font-size: 14px;
}
.navegacao{
    height: 65%;
    display: flex;
    width: 100%;
}
.header-menu{
    display: flex;
    flex-direction: column;
    height: 100%;
    gap: 10px;
    width: 100%;
}

.name-salao{
    display: flex; 
    align-items: center;
    height: 20%;
    padding: 20px, 20px, 14px, 20px;
    gap: 13px;
}

.title-salao{
    font-family: "Cardo", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 28px;
    color: #C9615A;

}

.logo-salao{
    border-radius: 52px;
    height: 70px;
    margin-left: 30px;
    margin-bottom: 10px;
}
