
.input{
    font-size: 14px;
    border-radius: 8px;
    border: 1.2px solid var(--White-Base-02, #E8E7E7);
    background: var(--White-Base-05, #FFF);
    padding: 16px;
    width: 100%;
    color: var(--Black-Cinza-03, #454545);
}

.input::placeholder{
    font-size: 12px;
    opacity: 0.7;
}