

button{
    cursor: pointer;
    border-radius: 8px;
    border: 1px solid var(--Primary-Vermelho-02, #C9615A);
    background: var(--Primary-Vermelho-02, #C9615A);
    display: flex;
    padding: 12px 18px;
    justify-content: center;
    align-items: center;
    width: 100%;
    color: var(--White-Base-05, #FFF);
    font-family: "Montserrat";
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    transition: background-color 0.5s ease;
}

button:hover{
    background-color: #96403A;
}

