.container-config{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.Config-minhaConta{
    display: flex;
    flex-direction: column;
    gap: 4px;
    padding-bottom: 40px;
    border-bottom: 1px solid #F0F0F0;
}

.tipo-config-title{
    color: var(--Black-Cinza-03, #313131);
    font-family: "Montserrat";
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.tipo-subtitle-config{
    color: var(--Black-Cinza-04, #747474);
    font-family: "Montserrat";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.config-minhaContaInp{
    display: flex;
    gap: 30px;
}
.config-minhaContaInp ul{
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 12px;
}
.config-minhaContaInp ul li{
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.div-btn-save{
    display: flex;
    gap: 20px;
}
.btn-salvar{
    display: flex;
    padding: 10px 16px 10px 12px;
    justify-content: center;
    align-items: center;
    gap: 6px;
    border-radius: 8px;
    border: 1px solid var(--White-Base-03, #F0F0F0);
    background: var(--White-Base-04, #FBFBFB);
    color: var(--Black-Cinza-04, #747474);
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    cursor: pointer;
    transition: background-color  0.5s ease;
}
.color-btn-verme{
    border: 1px solid  #C9615A;
    color: #C9615A;
}
.btn-salvar:hover{
    background: var(--White-Base-03, #F0F0F0);
    color: var(--Black-Cinza-03, #313131);
}
.color-btn-verme:hover{
    border: 1px solid  #C9615A;
    color: #F0F0F0;
    background: var(--White-Base-04, #C9615A);

}

.container-modal-senha{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.container-stats{
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.title-modal-stats{
    font-family: "Montserrat";
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}
.color-sucesso {
    color: #1fd128;
}

.color-erro {
    color: #C9615A;
}
