.container-home{
    background-color: #fff;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.telaPrincipal{
    height: 100vh;
    width: 80%;
    display: flex;
    flex-direction: column;

}



.data_formatada{
    color: var(--Black-Cinza-04, #747474);
    font-family: "Montserrat";
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    border-radius: 8px;
    border: 1px solid var(--White-Base-02, #E8E7E7);
    background: var(--White-Base-05, #FFF);
    display: flex;
    height: 41px;
    padding: 12px 12px 12px 16px;
    justify-content: center;
    align-items: center;
    gap: 6px;
}

.dia-Atual{
    display: flex;
    gap: 20px;
    align-items: center;
    margin: 0px!important;
}

.dia-Atual span{
    display: flex;
    height: 41px;
    padding: 12px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4px;
    cursor: pointer;
    border-radius: 8px;
    border: 1px solid var(--White-Base-02, #E8E7E7);
    background: var(--White-Base-05, #FFF);
}

.lista-agenda{
    width: 100%;
    display: flex;
    gap: 20px;
    justify-content: space-between;

}
.lista-agenda-container{
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.container-agenda-user{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.title-agenda{
    color: var(--Black-Cinza-03, #454545);
    font-family: "Montserrat";
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}