.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); 
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
  }
  
  .modal-content {
    padding: 24px;
    width: 392px; /* Largura do modal */
    height: 344px;
    max-width: 600px; /* Largura máxima do modal */
    border-radius: 10px;
    border: 2px solid var(--White-Base-03, #F0F0F0);
    background: var(--White-Base-05, #FFF);
  }
  
  .close-button {
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
    width: 24px;
    color: #999;
  }
  