.table-horarios-agenda {
    border-radius: 12px; /* Arredonda as bordas da "tabela" */
    border: 1px solid var(--White-Base-02, #E8E7E7);
    overflow: hidden;
}

.nome-servicos-agenda {
    display: flex;
    justify-content: center;
    border-radius: 12px; 

}

.nome-servicos-agenda div p {
    color: var(--Black-Cinza-04, #747474);
    font-family: "Montserrat";
    font-size: 13px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;

}
.clientes-horarios{
    display: flex;

}
.horariosAgenda{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;

}

.horario-celula{
    width: 100%;
    flex-grow: 1;
    padding: 9px 12px;
    display: flex;
    flex-direction: row;
    color: var(--Black-Cinza-04, #747474);
    text-align: center;
    font-family: "Montserrat";
    border-bottom: 1px solid var(--White-Base-02, #E8E7E7);
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.horario-celula p{
    padding: 12px 10px;
}

.agendamento-celula{
    display: flex;
    width: 100%;
    height: 100%;
    gap: 16px;

}
.agendamento-celula li{
    width: 100%;


}

.celula-agendada p {
    border-radius: 6px;
    border: 1px solid var(--Secondary-Roxo-03, #C7A3F5);
    background: var(--Secondary-Roxo-05, #F1E8FD);
    cursor: pointer;
    text-align:initial;
    color: var(--Black-Cinza-03, #454545);
    text-align: center; 
    font-family: "Montserrat";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  
  
  .celula-livre {
    pointer-events: none; /* Desativa eventos de clique para células livres */
  }
  
